@using WebApp.Model
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inherits LayoutComponentBase
<div class="page">
    
    <div class="sidebar">
        <NavMenu/>
    </div>
    
    <main>
        <div class="top-row px-4">
            <i>Logged in as: <b>@LoggedInText</b> </i>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
    
    

</div>
@code
{
    User? loggedIn;
    protected override async Task OnInitializedAsync()
    {
        loggedIn = await sessionStorage.GetItemAsync<User?>("user");
    }

    private string LoggedInText => loggedIn is null ? "none" : $"{loggedIn.Name} [{loggedIn.Role}]";
}
