
@page "/counter"
@using WebApp1.Service
@inject Blazored.LocalStorage.ILocalStorageService localStore
@inject NavigationManager navManager
@inject ILoginService loginService


<PageTitle>Counter</PageTitle>

<TimeComponent/>

<h1>Counter</h1>



<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;
    
    protected override async Task OnInitializedAsync()
    {
        // check for login
        var loggedIn = await loginService.GetUserLoggedIn();
        if (loggedIn is null)
            navManager.NavigateTo("login/counter");
        
        // other page specific stuff...
        var c = await localStore.GetItemAsync<int>("count");
        if (c != 0)
            currentCount = c;
        else
            currentCount = 0;
        
    }

    private async Task IncrementCount()
    {
        currentCount++;
        await localStore.SetItemAsync<int>("count", currentCount);
    }

}