@page "/todo"
@inject HttpClient http
@using WebApp1.Model
<h1>ToDoList - version 2 - Der mangler @items.Count(item => !item.IsDone)</h1>

<ul>
    @foreach (ToDoItem item in items)
    {
        <li>
            <InputCheckbox @bind-Value="item.IsDone" @onclick="() => OnClickDone(item)"></InputCheckbox>
            <b>@item.Title</b>
        </li>
    }
</ul>
<InputText @bind-Value="newToDo" placeHolder="Noget der skal gøres"></InputText>
<button class="btn btn-primary" @onclick="AddToDo">Add</button>

@code {

    string? newToDo;
    List<ToDoItem> items = new();
    
    private string serverUrl = "http://localhost:5151";


    protected override async Task OnInitializedAsync()
    {
        items = await http.GetFromJsonAsync<List<ToDoItem>>($"{serverUrl}/api/todo/getall");
    }

    async Task AddToDo()
    {
        var newToDoItem = new ToDoItem { Title = newToDo, IsDone = false }; 
        
        await http.PostAsJsonAsync($"{serverUrl}/api/todo/add", newToDoItem);

        items = await http.GetFromJsonAsync<List<ToDoItem>>($"{serverUrl}/api/todo/getall");

    }

    private async Task OnClickDone(ToDoItem item)
    {
        item.IsDone = !item.IsDone;
        
        await http.PutAsJsonAsync($"{serverUrl}/api/todo/update", item);
        
    }

}