@page "/todo"
@using WebApp1.Model
<h1>ToDoList - version 1 - der mangler @items.Count( (item) => !item.IsDone)</h1>

<ul>
    @foreach (ToDoItem item in items)
    {
        <li>
            <InputCheckbox @bind-Value="item.IsDone"></InputCheckbox>
            <b>@item.Title</b>
        </li>
    }
</ul>
<InputText @bind-Value="newToDo" placeholder="Noget der skal gøres"></InputText>
<button class="btn btn-primary" @onclick="AddToDo">Add</button>

@code {
    string? newToDo;
    List<ToDoItem> items = new();

    protected override void OnInitialized()
    {
        items.Add( new ToDoItem{Title = "test"});
    }

    void AddToDo()
    {
        items.Add(new ToDoItem{ Title = newToDo, IsDone=false});
    }

}