@page "/addbike"
@using Core.Model
@inject HttpClient http
@inject NavigationManager navMan


<PageTitle>Add Bike</PageTitle>

<h3>Add Bike</h3>

<EditForm Model="@_bike" class="row p-3" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="col-md-12 mb-3">
        <label for="Brand">Brand</label>
        <InputText id="Brand" @bind-Value="_bike.Brand" class="form-control" />
    </div>
    <div class="col-md-12 mb-3">
        <label for="Model">Model</label>
        <InputText id="Model" @bind-Value="_bike.Model" class="form-control" />
    </div>
    <div class="col-md-6 mb-3">
        <label for="Price">Price</label>
        <InputNumber id="Price" @bind-Value="_bike.Price" class="form-control" />
    </div>
    <div class="col-md-12 mb-3">
        <label for="Img">Img Url</label>
        <InputText id="Img" @bind-Value="_bike.ImageUrl" class="form-control" />
    </div>

    <div class="col-12 mb-3">
        <button type="submit" class="btn btn-primary">Add</button>
    </div>
</EditForm>


@code {
    Bike _bike = new();
    
    public async Task HandleValidSubmit()
    {
        await http.PostAsJsonAsync("http://localhost:5269/api/bike", _bike);
        _bike = new(); // clear fields in form
        navMan.NavigateTo("bikelist");
    }

}


