@page "/bikelist"
@using Core.Model
@inject NavigationManager navMan
@inject HttpClient http
<PageTitle>Bikes</PageTitle>

<h1>Bikes</h1>

@if (bikes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped">
        <tbody> 
        @foreach (var bike in bikes)
        {
            <tr class="bikeRow">
                <td><h2>@bike.Brand - @bike.Model</h2><br />
                    Price: @bike.Price kr.</td>
                <td><img class="bikeImg" src="@bike.ImageUrl" width="200px"/></td>
                <td><button class="btn-close" @onclick="() => DeleteBike(bike)"></button></td>
            </tr>
        }
        </tbody>
    </table>
    <button class="btn btn-primary" @onclick="OnClickCreateBike">Create Bike</button>
    
}

@code {

    private Bike[]? bikes;
    
    protected override async Task OnInitializedAsync()
    {
        bikes = await http.GetFromJsonAsync<Bike[]>("http://localhost:5269/api/bike");
    }
    
    private void OnClickCreateBike()
    {
        navMan.NavigateTo("addbike");
    }

    private async Task DeleteBike(Bike bike)
    {
        await http.DeleteAsync($"http://localhost:5269/api/bike/delete/{bike.Id}");
        // Update UI
        bikes = await http.GetFromJsonAsync<Bike[]>("http://localhost:5269/api/bike");
    }

}

