@page "/counter"
@inject Blazored.LocalStorage.ILocalStorageService localStore


<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status" style="color: @color">Current count: @currentCount</p>

<button @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount;

    private string color = "red";

    protected async override Task OnInitializedAsync()
    {
        int? savedNumber = await localStore.GetItemAsync<int?>("cc");
        if (savedNumber is null)
            currentCount = 0;
        else
            currentCount = savedNumber.Value;
        
    }

    private async Task IncrementCount()
    {
        currentCount++;
        if (currentCount % 2 == 0) // lige
            color = "red";
        else
            color = "black";
        // opdater localstorage
        await localStore.SetItemAsync("cc", currentCount);
    }

}