@page "/counter"
@using Blazored.SessionStorage
@using WebApp.Model
@using WebApp.Service
@inject Blazored.LocalStorage.ILocalStorageService localStore
@inject ISessionStorageService sessionStorage
@inject NavigationManager navMan


<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status" style="color: @color">Current count: @currentCount</p>

<button @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount;

    private string color = "red";

    User? loggedInUser; 

    protected override async Task OnInitializedAsync()
    {
        
        loggedInUser = LoginService.LoggedInUser;
        //loggedInUser = await sessionStorage.GetItemAsync<User?>("user");
        if (loggedInUser == null)
            navMan.NavigateTo("login");
        int? savedNumber = await localStore.GetItemAsync<int?>("cc");
        if (savedNumber is null)
            currentCount = 0;
        else
            currentCount = savedNumber.Value;
        
        
    }

    private async Task IncrementCount()
    {
        currentCount++;
        if (currentCount % 2 == 0) // lige
            color = "red";
        else
            color = "black";
        // opdater localstorage
        await localStore.SetItemAsync("cc", currentCount);
    }

}