@page "/mydices"
@using WebApp.Model
<h3>MyDices</h3>

@foreach (Dice d in dices)
{
    <img src="@FileName(d.Eyes())" width="100" height="100"/>
}

<button class="btn btn-primary" @onclick="OnClickRoll">Roll</button>
<button @onclick="AddDice">+</button>
@code {
    List<Dice> dices;

    protected override void OnInitialized()
    {
        dices = new();
        dices.Add(new Dice());
        dices.Add(new Dice());
        OnClickRoll();
    }

    private void OnClickRoll()
    {
        foreach (Dice d in dices)
            d.Roll();
    }

    string FileName(int eyes)
    {
        return $"images/dices/dice{eyes}.png";
    }

    private void AddDice()
    {
        dices.Add(new Dice());
    }

}