@page "/todo"
@using Core.Model
<h3>Todo (@CountMissing() mangler)</h3>

<ul>
@foreach (TodoItem todo in mTodos)
{
    <li>
            <i class=@CheckClass(todo.IsDone) @onclick="() => ToggleToDo(todo)"></i>
         --- <span style="font-weight: bold">@todo.Title </span>
    </li>
}
</ul>
<InputText @bind-Value="newTodoTitle" placeholder="Skriv en ny to-do">
    
</InputText>
<button class="btn btn-primary" @onclick="AddTodo">Opret</button>

@code {
    List<TodoItem> mTodos = new();

    string newTodoTitle = "";

    protected override void OnInitialized()
    {
        mTodos.Add(new TodoItem { IsDone = true, Title = "Lektier" });
        mTodos.Add(new TodoItem { IsDone = false, Title = "flere lektier" });
    }


    private void AddTodo()
    {
        TodoItem newTd = new TodoItem { IsDone = false, Title = newTodoTitle };
        newTodoTitle = "";
        mTodos.Add(newTd);
    }

    /// <summary>
    /// Return number of items not done yet....
    /// </summary>
    /// <returns></returns>
    private int CountMissing()
    {
        int result = 0;
        foreach (TodoItem t in mTodos)
            if (!t.IsDone)
                result++;
        return result;
    }

    /// <summary>
    /// Return the class for a boolean value isChecked
    /// </summary>
    /// <param name="isChecked"></param>
    /// <returns></returns>
    private string CheckClass(bool isChecked)
    {
        if (isChecked)
            return "bi bi-check-circle fs-3";
        else
            return "bi bi-circle fs-3";
    }

    /// <summary>
    /// Set the IsDone of item to the opposite
    /// </summary>
    /// <param name="item"></param>
    private void ToggleToDo(TodoItem item)
    {
        item.IsDone = !item.IsDone;
    }

}