@page "/todo3"
@inject HttpClient http
@using Core.Model
<h3>Todo (@CountMissing() mangler)</h3>

<div class="todo-container">
@foreach (TodoItem todo in mTodos)
    {
        <div class="todo-card">
            
            <div class="todo-center">
            <i class=@CheckClass(todo.IsDone) @onclick="() => ToggleToDo(todo)"></i>
            
            <span class="Title-Text">@todo.Title </span>
            <button class="btn-close" @onclick="() => DeleteTodo(todo.Id)"></button>
            </div>
        </div>
    }
</div>
<InputText @bind-Value="newTodoTitle" placeholder="Skriv en ny to-do">
    
</InputText>
<button class="btn btn-primary" @onclick="AddTodo">Opret</button>

@code {
    List<TodoItem> mTodos = new();

    string newTodoTitle = "";

    protected override async Task OnInitializedAsync()
    {
        await LoadAll();
    }

    private async Task LoadAll()
    {
        mTodos = await http.GetFromJsonAsync<List<TodoItem>>($"{Config.ServerUrl}/api/todo");

    }

    private async Task AddTodo()
    {
        TodoItem newTd = new TodoItem { IsDone = false, Title = newTodoTitle };
        newTodoTitle = "";
        await http.PostAsJsonAsync($"{Config.ServerUrl}/api/todo", newTd);
        await LoadAll();
    }

    /// <summary>
    /// Return number of items not done yet....
    /// </summary>
    /// <returns></returns>
    private int CountMissing()
    {
        int result = 0;
        foreach (TodoItem t in mTodos)
            if (!t.IsDone)
                result++;
        return result;
    }

    /// <summary>
    /// Return the class for a boolean value isChecked
    /// </summary>
    /// <param name="isChecked"></param>
    /// <returns></returns>
    private string CheckClass(bool isChecked)
    {
        if (isChecked)
            return "bi bi-check-circle fs-3";
        else
            return "bi bi-circle fs-3";
    }

    /// <summary>
    /// Set the IsDone of item to the opposite
    /// </summary>
    /// <param name="item"></param>
    private async Task ToggleToDo(TodoItem item)
    {
        item.IsDone = !item.IsDone;

        await http.PutAsync($"{Config.ServerUrl}/api/todo/toogle/{item.Id}", null);
    }

    private async Task DeleteTodo(int todoId)
    {
        await http.DeleteAsync($"{Config.ServerUrl}/api/todo/delete/{todoId}");
        await LoadAll();
    }

}